<div class="mb-3">

    <label class="form-label">
        Kategori Kerusakan
    </label>

    <select
    name="kategori"
    class="form-control"
    required>

        <option value="">
            Pilih Kategori
        </option>

        <option>Laptop</option>

        <option>Komputer</option>

        <option>Printer</option>

        <option>Microsoft Office</option>

        <option>Internet / WiFi</option>

        <option>Email</option>

        <option>Jaringan</option>

        <option>Lainnya</option>

    </select>

</div>